/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  background-color: #f4f4f4;
  color: #47ce15;
}

/* Header */
#header {
  background-color: #15439d;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Sections */
section {
  margin: 40px 0;
}

/* Skills list */
#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  background-color: #61dafb;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
}

/* Projects */
.project {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}



/* Footer */
#footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
  margin-top: 40px;
  padding: 10px 0;
}
